.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
    height: 100px;
}
.logo h4{
    color: red;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo p{
    color: black;
    font-size: 32px;
    font-weight: 600;
}
.nav-logo{
    width: 200px;
}
.nav-profile{
    width: 50px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}